@charset "utf-8";

.container {
  width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1399px) {
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 767px) {
}

@media (max-width: 575px) {
}
