@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a:visited,
a:link {
  color: black;
  text-decoration: none;
}
ul,
li {
  list-style: none;
}

.nav > ul {
  display: flex;
}
.nav > ul > li {
  flex-grow: 1; /* 1/5나누어가짐 */
  transition: 0.3s;
}
.nav > ul > li:hover {
  flex-grow: 1.2;
  background: blue;
}

.nav > ul > li > a {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
}
.nav > ul > li > a:hover {
  color: white;
}
.nav > ul > li {
  position: relative;
}
.sub {
  display: none;
  position: absolute;
  background: pink;
  width: 100%;
}

.nav > ul > li:hover .sub {
  display: block;
}

/* .main li:first-child .sub {
  display: block;
  position: absolute;
  background: pink;
  width: 100%;
} */

.sub li a {
  background: skyblue;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.sub li a:hover {
  background-color: blue;
}

/* color  */
.bg-primary {
  background-color: skyblue !important;
}

.bg-second {
  background-color: pink !important;
}

.bg-info {
  background-color: purple !important;
}
